<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h2>Inscription</h2>
        
    <form action="#" th:action="@{/register}" th:object="${userDto}" method="POST" enctype="utf8">
        <div>
            <label for="firstName">Prénom</label>
            <input name="firstName" th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}" 
            th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="lastName">Nom</label>
            <input name="lastName" th:field="*{lastName}"/>
            <p th:each="error : ${#fields.errors('lastName')}" 
            th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}" 
            th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}" 
            th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="repeatPassword">Confirmer votre mot de passe</label>
            <input type="password" name="repeatPassword" th:field="*{repeatPassword}"/>
            <p th:each="error : ${#fields.errors('repeatPassword')}" 
            th:text="${error}">Validation error</p>
        </div>        
        <button type="submit">Valider</button>
    </form>
    </body>
</html>
