<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>            
            <h2>La liste des taches</h2>  
            <div>
                <a href="create-task">Ajouter une tâche</a>                
            </div>
            <div th:if="${errorId}">
                <p th:text="${errorId}"></p>
            </div>
            <div th:if="${msgSuccessAdd}">
                <p th:text="${msgSuccessAdd}"></p>
            </div>
            <div th:if="${msgSuccessEdit}">
                <p th:text="${msgSuccessEdit}"></p>
            </div>
            <div th:if="${msgSuccessDelete}">
                <p th:text="${msgSuccessDelete}"></p>
            </div>
        <table>
          <thead>
            <tr>
                <th>La tâche</th>
                <th>Le type</th>
                <th>Description</th>
                <th>La date de fin</th>
                <th>Modifier la tâche</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${tasks.empty}">
                <td colspan="2"> No infos Available </td>
            </tr>
            
            <tr th:each="task : ${tasks}">
                <td th:text="${task.nameTask}" />
                <td th:text="${task.typeTask}" />
                <td th:text="${task.description}" />
                <td th:text="${#dates.format(task.dateEnd, 'dd-MM-yyyy')}" />
                <td><a th:href="@{/edit/{id}(id=${task.id})}">Modifier</a></td>
                <td><a th:href="@{/delete/{id}(id=${task.id})}">Supprimer</a></td>
            </tr>
            
          </tbody>
        </table>
        </div>
    </body>
</html>
